// --------------------------------------------
// FORMAT
// --------------------------------------------
$padding-sides-1366: 7rem;
$padding-top-1366: 1rem;
$padding-sides-1024: 5rem;
$padding-top-1024: 1rem;
$padding-sides-768: 4rem;
$padding-top-768: 1rem;
$padding-sides-414: 2rem;
$padding-top-414: 1rem;
$padding-sides-375: 2rem;
$padding-top-375: 1rem;
html {
  font-size: 10px;
}
.nav__desktop {
  .logo {
    // border: 1px solid red;
    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }
  }
}
#project-slider {
  margin-top: 2rem;
  p:first-child {
    font-size: 4rem;
  }
  .slider-contain {
    margin: 2rem 0 2rem 0;
  }
  .view-all {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    .item {
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      img {
        width: 12rem;
        height: 12rem;
      }
      .title {
        width: 100%;
      }
    }
  }
  .item {
    border-radius: 20px 0 20px 0;
    padding: 1.5rem;
    p.title {
      text-align: center;
      padding: 1rem 0 1rem 0;
      color: #fff;
      margin-top: 1rem;
      font-weight: bold;
      font-size: 2.3rem;
      // background-color: darkblue;
      // border-top: 2px solid #fff;
    }
    p:nth-child(3) {
      height: 6rem;
      border: 1px solid transparent;
      font-size: 1.5rem;
      font-weight: normal;
      color: #fff;
      text-align: center;
      padding: 0 2.5rem 0 2.5rem;
    }
    p:nth-child(4) {
      text-align: center;
      button {
        width: 135px;
        height: 35px;
        background-color: transparent;
        border: 2px solid #ebb227;
        background-color: #190938;
        border-radius: 20px;
        color: #fff;
        font-weight: bold;
        font-size: 1.5rem;
        margin-bottom: 2rem;
        &:hover {
          background-color: #ebb227;
          opacity: 1;
        }
        a {
          // border: 1px solid red;
          display: block;
          line-height: 30px;
          width: 100%;
          height: 100%;
        }
      }
    }
    img {
      width: 130px;
    }
  }
  .partner {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 1rem;
    padding: 1rem 0 1rem 0;
    margin-top: 2rem;
    img {
      height: 3rem;
    }
  }
}
#project-slider:hover,
button:hover {
  cursor: pointer;
}
.project-buttons {
  display: flex;
  width: 415px;
  align-items: center;
  text-align: center;
  button {
    width: 50px;
    height: 25px;
    background-color: transparent;
    border: none;
    &:hover {
      opacity: 0.5;
    }
  }
}
.project-view-all {
  text-align: right;
  text-decoration: underline;
}

// CONTACT
.contact {
  .contact__content {
    .contact__infor,
    .contact__social {
      p:nth-child(1) {
        margin-bottom: 1.5rem;
      }
      p i {
        margin-top: 1rem;
      }
    }
  }
}

// --------------------------------------------
// RESPONSIVE
// --------------------------------------------
@media screen and (max-width: 5000px) {
  #project-slider {
    padding-top: $padding-top-1366;
    padding-left: calc((100% - 1366px) / 2);
    padding-right: calc((100% - 1366px) / 2);
    .item {
      p.title {
        font-size: 3.3rem;
      }
      p:nth-child(3) {
        font-size: 1.8rem;
      }
    }
  }
}
// 1366 - 1400
@media screen and (max-width: 1400px) {
  #project-slider {
    margin-left: $padding-sides-1366;
    margin-right: $padding-sides-1366;
    .project-buttons {
      margin-top: 3.3rem;
    }
    .view-all {
      button {
        margin: 0.5rem 0 3rem 0;
      }
    }
    .item {
      p.title {
        font-size: 2.3rem;
      }
      p:nth-child(3) {
        font-size: 1.5rem;
      }
    }
  }
}
// 1024 - 1200
@media screen and (max-width: 1000px) {
  #project-slider {
    margin-left: $padding-sides-768;
    margin-right: $padding-sides-768;
    flex-wrap: wrap;
    .project-slider__content,
    .project-slider__image {
      width: 100%;
    }
    .partner {
      img {
        height: 2rem;
      }
    }
    .view-all {
      .item {
        img {
          width: 10rem;
          height: 10rem;
        }
      }
    }
    .item {
      p:nth-child(3) {
        height: 8rem;
        padding: 0;
      }
    }
  }
  .nav__mobile {
    font-size: 3rem;
  }
}
// IPHONE-6 414px - 650px
@media screen and (max-width: 650px) {
  #project-slider {
    margin-left: $padding-sides-414;
    margin-right: $padding-sides-414;
    .partner {
      img {
        height: 1.5rem;
      }
    }
    .view-all {
      .item {
        width: 100%;
        p:nth-child(3) {
          height: auto;
        }
      }
      button {
        margin: 1rem 0 2rem 0;
      }
    }
  }
  .nav__mobile {
    font-size: 2rem;
  }
}
