html {
  font-size: 10px; }

#nugget {
  display: flex; }
  #nugget .nugget__content {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    margin-top: 3rem; }
    #nugget .nugget__content .nugget__content-header {
      display: flex;
      width: 100%;
      justify-content: space-between; }
      #nugget .nugget__content .nugget__content-header img {
        width: 12.8rem;
        height: 12.8rem;
        margin-right: 1rem; }
      #nugget .nugget__content .nugget__content-header .nugget__content-detail {
        width: calc(100% - 12.8rem);
        height: 12.8rem;
        border-bottom: 1px solid #ebb227; }
        #nugget .nugget__content .nugget__content-header .nugget__content-detail .detail-1 {
          font-size: 4rem; }
        #nugget .nugget__content .nugget__content-header .nugget__content-detail .detail-2 {
          margin-top: 2rem;
          font-size: 1.4rem;
          font-weight: normal; }
    #nugget .nugget__content .nugget__content-tech {
      width: 100%; }
      #nugget .nugget__content .nugget__content-tech .title {
        font-size: 3rem;
        margin: 4.5rem 0 0 0; }
      #nugget .nugget__content .nugget__content-tech p {
        display: flex;
        text-align: left;
        align-items: flex-start;
        margin-top: 1.5rem; }
        #nugget .nugget__content .nugget__content-tech p img {
          width: 2.6rem;
          margin-right: 2rem; }
        #nugget .nugget__content .nugget__content-tech p span {
          width: 100%;
          font-size: 1.7rem;
          font-weight: normal; }
    #nugget .nugget__content .nugget__buttons {
      width: 100%;
      text-align: right;
      margin-top: 3rem; }
      #nugget .nugget__content .nugget__buttons button {
        width: 135px;
        height: 35px;
        background-color: transparent;
        border: 2px solid #ebb227;
        background-color: #190938;
        border-radius: 20px;
        color: #fff;
        font-weight: bold;
        font-size: 1.5rem; }
        #nugget .nugget__content .nugget__buttons button:hover {
          background-color: #ebb227;
          opacity: 1; }
        #nugget .nugget__content .nugget__buttons button a {
          display: block;
          line-height: 30px;
          width: 100%;
          height: 100%; }
  #nugget .nugget__image {
    width: 60%; }

button:hover {
  cursor: pointer; }

.team-buttons {
  display: flex;
  width: 415px;
  align-items: center;
  text-align: center; }
  .team-buttons button {
    width: 50px;
    height: 25px;
    background-color: transparent;
    border: none; }
    .team-buttons button:hover {
      opacity: 0.5; }

.team-view-all {
  text-align: right;
  text-decoration: underline; }

@media screen and (max-width: 5000px) {
  #nugget {
    padding-top: 1rem;
    padding-left: calc((100% - 1366px) / 2);
    padding-right: calc((100% - 1366px) / 2); }
    #nugget .nugget__content .nugget__content-tech p span {
      font-size: 2.2rem; }
    #nugget .nugget__content .nugget__buttons button {
      font-size: 2.2rem; } }

@media screen and (max-width: 1400px) {
  #nugget {
    margin-left: 7rem;
    margin-right: 7rem; }
    #nugget .nugget__content .nugget__content-tech p span {
      font-size: 1.7rem; }
    #nugget .nugget__content .nugget__buttons button {
      font-size: 1.7rem; } }

@media screen and (max-width: 1000px) {
  #nugget {
    margin-left: 4rem;
    margin-right: 4rem;
    flex-wrap: wrap; }
    #nugget .nugget__content,
    #nugget .nugget__image {
      width: 100%; }
    #nugget .nugget__content .nugget__content-tech p span {
      font-size: 1.4rem; }
    #nugget .nugget__content .nugget__buttons button {
      font-size: 1.5rem; }
  .nav__mobile {
    font-size: 3rem; } }

@media screen and (max-width: 650px) {
  #nugget {
    margin-left: 2rem;
    margin-right: 2rem; }
  .nav__mobile {
    font-size: 2rem; } }
