html {
  font-size: 10px; }

.nav__desktop .logo:hover {
  cursor: pointer;
  opacity: 0.5; }

#project-slider {
  margin-top: 2rem; }
  #project-slider p:first-child {
    font-size: 4rem; }
  #project-slider .slider-contain {
    margin: 2rem 0 2rem 0; }
  #project-slider .view-all {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem; }
    #project-slider .view-all .item {
      width: 50%;
      display: flex;
      flex-wrap: wrap; }
      #project-slider .view-all .item img {
        width: 12rem;
        height: 12rem; }
      #project-slider .view-all .item .title {
        width: 100%; }
  #project-slider .item {
    border-radius: 20px 0 20px 0;
    padding: 1.5rem; }
    #project-slider .item p.title {
      text-align: center;
      padding: 1rem 0 1rem 0;
      color: #fff;
      margin-top: 1rem;
      font-weight: bold;
      font-size: 2.3rem; }
    #project-slider .item p:nth-child(3) {
      height: 6rem;
      border: 1px solid transparent;
      font-size: 1.5rem;
      font-weight: normal;
      color: #fff;
      text-align: center;
      padding: 0 2.5rem 0 2.5rem; }
    #project-slider .item p:nth-child(4) {
      text-align: center; }
      #project-slider .item p:nth-child(4) button {
        width: 135px;
        height: 35px;
        background-color: transparent;
        border: 2px solid #ebb227;
        background-color: #190938;
        border-radius: 20px;
        color: #fff;
        font-weight: bold;
        font-size: 1.5rem;
        margin-bottom: 2rem; }
        #project-slider .item p:nth-child(4) button:hover {
          background-color: #ebb227;
          opacity: 1; }
        #project-slider .item p:nth-child(4) button a {
          display: block;
          line-height: 30px;
          width: 100%;
          height: 100%; }
    #project-slider .item img {
      width: 130px; }
  #project-slider .partner {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 1rem;
    padding: 1rem 0 1rem 0;
    margin-top: 2rem; }
    #project-slider .partner img {
      height: 3rem; }

#project-slider:hover,
button:hover {
  cursor: pointer; }

.project-buttons {
  display: flex;
  width: 415px;
  align-items: center;
  text-align: center; }
  .project-buttons button {
    width: 50px;
    height: 25px;
    background-color: transparent;
    border: none; }
    .project-buttons button:hover {
      opacity: 0.5; }

.project-view-all {
  text-align: right;
  text-decoration: underline; }

.contact .contact__content .contact__infor p:nth-child(1),
.contact .contact__content .contact__social p:nth-child(1) {
  margin-bottom: 1.5rem; }

.contact .contact__content .contact__infor p i,
.contact .contact__content .contact__social p i {
  margin-top: 1rem; }

@media screen and (max-width: 5000px) {
  #project-slider {
    padding-top: 1rem;
    padding-left: calc((100% - 1366px) / 2);
    padding-right: calc((100% - 1366px) / 2); }
    #project-slider .item p.title {
      font-size: 3.3rem; }
    #project-slider .item p:nth-child(3) {
      font-size: 1.8rem; } }

@media screen and (max-width: 1400px) {
  #project-slider {
    margin-left: 7rem;
    margin-right: 7rem; }
    #project-slider .project-buttons {
      margin-top: 3.3rem; }
    #project-slider .view-all button {
      margin: 0.5rem 0 3rem 0; }
    #project-slider .item p.title {
      font-size: 2.3rem; }
    #project-slider .item p:nth-child(3) {
      font-size: 1.5rem; } }

@media screen and (max-width: 1000px) {
  #project-slider {
    margin-left: 4rem;
    margin-right: 4rem;
    flex-wrap: wrap; }
    #project-slider .project-slider__content,
    #project-slider .project-slider__image {
      width: 100%; }
    #project-slider .partner img {
      height: 2rem; }
    #project-slider .view-all .item img {
      width: 10rem;
      height: 10rem; }
    #project-slider .item p:nth-child(3) {
      height: 8rem;
      padding: 0; }
  .nav__mobile {
    font-size: 3rem; } }

@media screen and (max-width: 650px) {
  #project-slider {
    margin-left: 2rem;
    margin-right: 2rem; }
    #project-slider .partner img {
      height: 1.5rem; }
    #project-slider .view-all .item {
      width: 100%; }
      #project-slider .view-all .item p:nth-child(3) {
        height: auto; }
    #project-slider .view-all button {
      margin: 1rem 0 2rem 0; }
  .nav__mobile {
    font-size: 2rem; } }
