html {
  font-size: 10px; }

.item {
  border-radius: 20px 0 20px 0;
  padding: 1.5rem; }
  .item p.title {
    text-align: center;
    padding: 1rem 0 1rem 0;
    color: #fff;
    margin-top: 1rem;
    font-weight: 500; }

#team-slider {
  margin-top: 2rem; }
  #team-slider p:first-child {
    font-size: 4rem; }
  #team-slider p:nth-child(2) {
    font-size: 2rem; }
  #team-slider .view-all {
    display: flex;
    flex-wrap: wrap; }
    #team-slider .view-all .item {
      width: 25%; }
      #team-slider .view-all .item img {
        width: 100%; }

#team-slider:hover,
button:hover {
  cursor: pointer; }

.team-buttons {
  text-align: right; }
  .team-buttons button {
    width: 50px;
    height: 25px;
    background-color: transparent;
    border: 2px solid #ebb227;
    border-radius: 5px; }
    .team-buttons button:hover {
      background-color: #ebb227;
      opacity: 1; }

.team-view-all {
  text-align: right;
  text-decoration: underline; }

@media screen and (max-width: 5000px) {
  #team-slider {
    padding-top: 1rem;
    padding-left: calc((100% - 1366px) / 2);
    padding-right: calc((100% - 1366px) / 2); } }

@media screen and (max-width: 1400px) {
  #team-slider {
    margin-left: 7rem;
    margin-right: 7rem; }
    #team-slider p:nth-child(2) {
      font-size: 1.7rem; } }

@media screen and (max-width: 1000px) {
  #team-slider {
    margin-left: 4rem;
    margin-right: 4rem; }
    #team-slider p:nth-child(2) {
      font-size: 1.4rem; }
    #team-slider .view-all .item {
      width: 30%; }
  .nav__mobile {
    font-size: 3rem; } }

@media screen and (max-width: 650px) {
  #team-slider {
    margin-left: 2rem;
    margin-right: 2rem; }
    #team-slider .item {
      width: 75%; }
    #team-slider .view-all .item {
      width: 50%; }
  .nav__mobile {
    font-size: 2rem; } }
